* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color: #fff;
  font-family: "Inter", sans-serif;
  background-color: #040303;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: 100%;
  width: 300px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.background {
  flex: 1 1 auto;
  min-width: 40vw;
  height: 100%;
}

.main {
  flex: 1.5 1 auto;
  width: 60vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1.2fr 1.5fr 1.2fr;
}

.main__upper {
  /* padding: 150px 100px 50px 50px; */
  padding: 100px 100px 50px 50px;

  background-color: #040303;
}

.main__upper > h2 {
  max-width: 60ch;
}

.main__upper > h2:first-child {
  margin-bottom: 20px;
}

.main__middle {
  display: grid;
  align-items: center;
  padding: 25px 50px;
  background-color: #121212;
  box-shadow: 5px 5px 5px black;
}
.main__lower {
  padding: 50px;
  background-color: #040303;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

h2 {
  font-weight: 400;
}

.main__middle > h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 100px;
}

.form-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

form label {
  font-size: 12px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  border-radius: 5px;
  background-color: #fcfcfc;
  height: 28px;
}

input:active,
input:focus {
  box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.255);
  outline: 2px solid rgba(41, 41, 255, 0.635);
}

.background {
  height: 100%;
  width: 40vw;
  background-image: url(./book-image.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #040303;
  position: relative;
}

.background__title {
  position: absolute;
  font-family: "Pacifico", cursive;
  font-size: 48px;
  top: 20vh;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.733);
}

.button {
  font: inherit;
  outline: none;
  background-color: #040303;
  color: #fcfcfc;
  border: 2px solid #fcfcfc;
  cursor: pointer;
  padding: 12px 16px;
  font-weight: 700;
  border-radius: 5px;
}

.button:hover {
  color: #040303;
  border: 2px solid #040303;
  background-color: #fcfcfc;
}

.main__lower a {
  font-weight: 700;
  color: rgb(79, 79, 255);
}

.main__lower a:hover {
  color: rgb(157, 157, 255);
}
.main__lower a:active {
  color: rgb(39, 39, 255);
}

input:focus:invalid {
  border: 1px solid red;
}

.password {
  position: relative;
}

.hidden {
  display: none;
}

.password-error {
  position: absolute;
  bottom: -18px;
  width: auto;
  left: 0;
}

.password-error::after {
  content: "* Passwords do not match";
  font-size: 11px;
}

.red-border {
  border: 1px solid red;
}
